<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h1>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/Avatar.jpeg') }}">
        {{ user.name }}'s Watchlist
    </h1>
    <p>{{ movies|length }} Titles</p>

    <ul class="movie-list">
        {% for movie in movies %}
        <li>
            {{ movie.title }} - {{ movie.year }}
        </li>
        {% endfor %}
    </ul>
    <img alt="walking totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
    
</body>
</html>
